@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
 background: #191919;
  background-image: url('/images/mesh-gradient1.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  color: #969696;
}


:root {
  --text-gold: #DA9A07;
}

.bannerSubtext {
  color: var(--text-gold);
}